<?xml version="1.0"?>
<configuration>

 <system.web>
    <authorization>
        <allow roles="Administrator" />
        <allow roles="Coordinator" />
        <allow roles="CoordinatorSD" />
        <allow roles="Staff" />
        <allow roles="StaffSD" />
        <deny users="*" />
    </authorization>
  </system.web>

</configuration>
