.MenuToolTip
{
    position: relative;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 10px;
    line-height: 16px;
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
    opacity: 0.9;
    filter: alpha(opacity=90);

}
        
.callout
{
    position: absolute;
    top: 10px;
    border: 0;
    left: -12px;
}

