 .UPmodal
{
    position: fixed;
    z-index: 99999999999999999999998;
    
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    
    background-color: Black;
    
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
    
}
.UPcenter
{
    z-index: 99999999999999999999999;
    margin: 300px auto;
    padding: 10px;
    width: 400px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=99);
    opacity: 0.9;
    -moz-opacity: 0.9;
    text-align: center;
    height: 200px;
}
